@import '~theme/variables';

.message {
  $self: &;

  display: flex;
  margin-bottom: 15px;

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 23px;
    }
  }

  &__content {
    max-width: 400px;
  }

  &__info {
    display: flex;
    margin-bottom: 8px;
  }

  &__bubble {
    display: inline-block;
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0;
    padding: 15px;
  }

  &__attachments {
    display: flex;
    align-items: flex-end;
    padding-left: 5px;

    &-item {
      display: flex;
      align-items: flex-end;
      margin-right: 5px;
      cursor: pointer;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }

  &__date {
    display: block;
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &.message-image {
    #{$self}__attachments {
      padding-left: 0;
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    #{$self}__date {
      margin-left: 2px;
    }
  }

  &.message-typing {
    #{$self}__avatar {
      img {
        margin-bottom: 10px;
      }
    }
    #{$self}__bubble {
      padding: 15px 20px;
      background-color: $message-typing-bg;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
    }
  }

  &.message-audio {
    audio {
      display: none;
    }
    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    #{$self}__audio {
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-btn {
        button {
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: $message-audio-bg;
          border: 0;
          cursor: pointer;

          img {
            height: 13px;
            margin-top: 2px;
          }
        }
      }

      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }

      &-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $message-audio-progress;
        transition: width 0.3s ease;
      }
    }
  }

  &.message-me {
    display: flex;
    flex-direction: row-reverse;

    &.message-image {
      #{$self}__attachments {
        padding-right: 0;
      }

      #{$self}__date {
        margin-right: 2px;
      }
    }

    #{$self}__content {
      margin-bottom: 15px;
      text-align: right;

      .read {
        margin-right: 10px;
      }
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
        margin-bottom: 37px;
      }
    }

    #{$self}__info {
      text-align: right;
      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;
    }

    #{$self}__attachments {
      padding-left: 0;
      padding-right: 5px;
    }

    #{$self}__bubble {
      background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(54, 116, 255, 0.2);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-clr;
      display: inline-block;
      margin-right: 8px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }

      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}
