$blue: #3674ff;
$black: #202020;
$green: #00c980;

$message-typing-clr: #a6bdf0;
$message-typing-bg: #e5edff;

$unread-icon-bg: #f46b6b;
$unread-icon-clr: #fff;

$dialog-item-selected-bg: #f3f7ff;
$dialog-item-bg-hover: rgba(243, 247, 255, 0.3);
